body {
    background-color: rgb(252, 204, 212);
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
}

#contact-block {
    background-color: white;
    box-shadow: 2px 2px 4px rgb(68, 67, 67);
    padding: 50px 90px 70px 300px;
    position: relative;
}

#contact-form input[type="text"]{
    width: 380px;
    height: 30px;
    margin-bottom: 15px;
    border-radius: 10px;
    padding: 10px;
    border: none;
    background-color: rgba(245, 245, 245, 0.842);
}

#contact-form textarea {
    width: 380px;
    height: 180px;
    margin-bottom: 20px;
    border-radius: 10px;
    padding: 10px;
    border: none;
    background-color: rgba(245, 245, 245, 0.842);
}

#contact-form input[type="button"] {
    padding: 10px;
    width: 150px;
    border-radius: 50px;
    background-color: red;
    border: none;
    color: white;
}

#address-block {
    background-color: red;
    padding: 80px;
    color: white;
    box-shadow: 2px 2px 4px black;
    position: absolute;
    left: 150px;
}

#address-block-content p {
    margin-bottom: 40px;
}

#address-block-content i {
    letter-spacing: 8px;
}

@media only screen and (max-width: 1024px) {

    #address-block {
        background-color: red;
        padding: 60px;
        color: white;
        box-shadow: 2px 2px 4px black;
        position: absolute;
        left: 50px;
    }

    #contact-block {
        padding: 50px 90px 70px 260px;
    }

    #address-block {
        left: 10px;
    }

}

@media only screen and (max-width: 853px) {

    #address-block {
        padding: 60px;
        left: 10px;
    }

    #contact-block {
        padding: 30px 20px 30px 200px;
    }

    #contact-form input[type="text"]{
        width: 280px;
    }
    
    #contact-form textarea {
        width: 280px;
    }

}

@media only screen and (max-width: 820px) {

    #address-block {
        padding: 60px;
        left: 10px;
    }

    #contact-block {
        padding: 30px 20px 30px 200px;
    }

    #contact-form input[type="text"]{
        width: 280px;
    }
    
    #contact-form textarea {
        width: 280px;
    }

}

@media only screen and (max-width: 812px) {

    #address-block {
        background-color: red;
        padding: 60px;
        color: white;
        box-shadow: 2px 2px 4px black;
        position: absolute;
        left: 10px;
    }

    #contact-block {
        padding: 30px 20px 30px 200px;
    }

    #contact-form input[type="text"]{
        width: 280px;
    }
    
    #contact-form textarea {
        width: 280px;
    }

}

@media only screen and (max-width: 768px) {

    #address-block {
        padding: 60px;
        left: 5px;
    }

    #contact-block {
        padding: 30px 20px 30px 270px;
    }

}

@media only screen and (max-width: 712px) {

    #address-block {
        background-color: red;
        padding: 60px;
        color: white;
        box-shadow: 2px 2px 4px black;
        position: absolute;
        left: 5px;
    }

    #contact-block {
        padding: 30px 20px 30px 270px;
    }

    #contact-form input[type="text"]{
        width: 280px;
    }
    
    #contact-form textarea {
        width: 280px;
    }

    #address-block {
        padding: 50px;
    }

}

@media only screen and (max-width: 600px) {

    body {
        width: unset;
        margin: 30px;
    }

    #contact-block {
        padding: 50px 40px 50px 270px;
        position: relative;
    }
    
    #contact-form input[type="text"]{
        width: 180px;;
    }
    
    #contact-form textarea {
        width: 180px;
    }
    
    #address-block {
        padding: 30px;
        left: 10px;
    }

}

@media only screen and (max-width: 540px) {
    
    * {
        font-size: 10px;
    }

    body {
        margin: 20px;
        width: 100%;
    }
    
    #contact-block {
        padding: 30px 20px 30px 130px;
    }
    
    #contact-form input[type="text"]{
        width: 120px;
        height: 20px;
        margin-bottom: 15px;
        border-radius: 10px;
        padding: 10px;
    }
    
    #contact-form textarea {
        width: 120px;
        height: 90px;
        margin-bottom: 20px;
        border-radius: 10px;
        padding: 10px;
    }
    
    #contact-form input[type="button"] {
        padding: 10px;
        width: 90px;
        border-radius: 50px;
    }
    
    #address-block {
        padding: 20px;
        left: 80px;
    }

}

@media only screen and (max-width: 480px) {
    
    * {
        font-size: 10px;
    }

    body {
        margin: 20px;
        width: 100%;
    }
    
    #contact-block {
        padding: 30px 20px 30px 150px;
    }
    
    #contact-form input[type="text"]{
        width: 120px;
        height: 20px;
        margin-bottom: 15px;
        border-radius: 10px;
        padding: 10px;
    }
    
    #contact-form textarea {
        width: 120px;
        height: 90px;
        margin-bottom: 20px;
        border-radius: 10px;
        padding: 10px;
    }
    
    #contact-form input[type="button"] {
        padding: 10px;
        width: 90px;
        border-radius: 50px;
    }
    
    #address-block {
        padding: 20px;
        left: 0;
    }

}

@media only screen and (max-width: 320px) {
    
    #contact-block {
        padding: 30px 20px 30px 170px;
    }

}