body {
    background-color: rgb(252, 204, 212);
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
}

#contact-block {
    background-color: white;
    box-shadow: 2px 2px 4px rgb(68, 67, 67);
    padding: 50px 90px 70px 300px;
    position: relative;
}

#contact-form input[type="text"]{
    width: 380px;
    height: 30px;
    margin-bottom: 15px;
    border-radius: 10px;
    padding: 10px;
    border: none;
    background-color: rgba(245, 245, 245, 0.842);
}

#contact-form textarea {
    width: 380px;
    height: 180px;
    margin-bottom: 20px;
    border-radius: 10px;
    padding: 10px;
    border: none;
    background-color: rgba(245, 245, 245, 0.842);
}

#contact-form input[type="button"] {
    padding: 10px;
    width: 150px;
    border-radius: 50px;
    background-color: red;
    border: none;
    color: white;
}

#address-block {
    background-color: red;
    padding: 80px;
    color: white;
    box-shadow: 2px 2px 4px black;
    position: absolute;
    left: 150px;
}

#address-block-content p {
    margin-bottom: 40px;
}

#address-block-content i {
    letter-spacing: 8px;
}